.actionButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 1.5rem;
  font-family: "Nunito", "Link", sans-serif;
}

.addBtn,
.voiceButton {
  background-color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
  transition: all 0.25s ease;
}

.addBtn:hover,
.voiceButton:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.addBtn:hover,
.voiceButton:hover {
  background-color: #b2ebf2;
  border-color: #004d52;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.voiceButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}


@media (max-width: 480px) {
  .addBtn,
  .voiceButton {
    font-size: 14px;
    padding: 8px 16px;
  }
}
