html {
  background: linear-gradient(90deg, #cfe9ff, #fefefe);
}

* {
  margin: 0;
  box-sizing: border-box;
}

.appontainer {
  width: 60%;
  height: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* οριζόντια κέντρο */
  justify-content: center;
}
